<div class="bg-light">
<div class="container pb-5 pt-1 contained px-5">
    <div class="section-title text-center position-relative pb-3 mb-3 pt-5 mx-auto wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
        <p class="fs-5 fw-bold primary-text">Todos nuestros paquetes incluyen...</p>
    </div>
    <div class="row justify-content-center g-5">
        <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
            <div class="blog-item  overflow-hidden">
                <div class="blog-img rounded position-relative overflow-hidden">
                    <img class="img-fluid" src="img/services/makeup.jpeg" alt="">
                    <a class="position-absolute bottom-0 end-0 light-bg text-white rounded-start mb-3 py-2 px-4" href="">
                        Maquillaje
                    </a>
                </div>
                <div class="py-2">
                    <p>Maquillistas profesionales y experimentadas le aportarán el detalle mágico a tu sesión fotográfica.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 wow fadeIn" data-wow-delay="0.6s">
            <div class="blog-item  overflow-hidden">
                <div class="blog-img rounded position-relative overflow-hidden">
                    <img class="img-fluid" src="img/services/comb.jpg" alt="">
                    <a class="position-absolute bottom-0 end-0 light-bg text-white rounded-start mb-3 py-2 px-4" href="">
                        Estilismo
                    </a>
                </div>
                <div class="py-2">
                    <p>Nuestro estilo marca la diferencia. Siempre sobrio y natural. Acomodándose a las preferencias del cliente.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 wow fadeIn" data-wow-delay="0.9s">
            <div class="blog-item overflow-hidden">
                <div class="blog-img position-relative rounded overflow-hidden">
                    <img class="img-fluid" src="img/services/dresess.jpg" alt="">
                    <a class="position-absolute bottom-0 end-0 light-bg text-white rounded-start mb-3 py-2 px-4" href="">
                        Vestuario
                    </a>
                </div>
                <div class="py-2">
                    <p>Ponemos a tu disposición un amplio y variado stock de vestuario, tanto de trajes de fantasía como de ropa casual de
                    moda.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 wow fadeIn" data-wow-delay="1.2s">
            <div class="blog-item  overflow-hidden">
                <div class="blog-img rounded position-relative overflow-hidden">
                    <img class="img-fluid" src="img/services/postproduction.jpg" alt="">
                    <a class="position-absolute bottom-0 end-0 light-bg text-white rounded-start mb-3 py-2 px-4" href="">
                        Edición profesional
                    </a>
                </div>
                <div class="py-2">
                    <p>Ofrecemos sesiones fotográficas únicas con postproducción de alta calidad para que tus imágenes luzcan impecables y llenas de vida.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 wow fadeIn" data-wow-delay="1.5s">
            <div class="blog-item  overflow-hidden">
                <div class="blog-img rounded position-relative overflow-hidden">
                    <img class="img-fluid" src="img/services/digital.jpg" alt="">
                    <a class="position-absolute bottom-0 end-0 light-bg text-white rounded-start mb-3 py-2 px-4" href="">
                        Entrega digital
                    </a>
                </div>
                <div class="py-2">
                    <p>Te entregamos todas las imágenes en formato digital, perfectas para conservar tus recuerdos de manera práctica y moderna.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
